html, body {
    height: 100%;
}

body {
    background-color: #00ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

h1 {
    font-size: 50px;
}

span {
    font-size: 64px;
}

button {
    background-color: #00000083;
    color: #fff;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    font-size: 18px;
}